# Dependências
node_modules/
vendor/

# Ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db

# IDE/Editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Build/Dist
dist/
build/
public/assets/

# Cache
.cache/
.temp/

# Arquivos de backup
*.bak
*.swp
*~ 